@use '../vendors/sassify' as sassify;
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins/antialias' as *;

/// Свойство `-webkit-touch-callout` CSS управляет отображением выноски по умолчанию,
/// отображаемой при касании и удержании цели касания.
///
/// Когда цель касается и удерживается на iOS, Safari отображает информацию о ссылке.
/// Это свойство позволяет отключить такое поведение.
///
/// Также тут выполнен минимальный CSS-сброс.
/// ---
/// @group Base
/// @since 21.05.2023
/// @access public
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-touch-callout mdn web docs
*,
*::before,
*::after {

	margin: 0;
	padding: 0;

	@include sassify.box-sizing(border-box);
	@include sassify.prefixer(touch-callout, none, webkit, false);

}

body {

	font-size: vars.$font-size;
	font-family: 'Fira Sans', sans-serif;
	scroll-behavior: smooth;

	@include sassify.prefixer(text-size-adjust, 100%, webkit); // https://clck.ru/NNamf
	@include antialias();

}


/// Стили для тега `img`
/// ---
/// @name h6
/// @group Base
/// @since 21.05.2023
/// @access public
img {

	border-style: none;
	overflow: none;
	vertical-align: middle;

	@include sassify.size(100%, 100%, 'max');

}
