@use '../vendors/sassify' as sassify;
@use '../abstracts/variables' as vars;

/// Свойство `-webkit-touch-callout` CSS управляет отображением выноски по умолчанию,
/// отображаемой при касании и удержании цели касания.
///
/// Когда цель касается и удерживается на iOS, Safari отображает информацию о ссылке.
/// Это свойство позволяет отключить такое поведение.
/// ---
/// @group Base
/// @since 21.05.2023
/// @access public
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-touch-callout mdn web docs
*,
*::before,
*::after {
	-webkit-touch-callout: none;
}

body {

	font-size: vars.$font-size;
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	scroll-behavior: smooth;


	// https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// https://clck.ru/NNamf
	@include sassify.prefixer(
		text-size-adjust,
		100%,
		webkit
	);

}


/// Стили для тега `img`
/// ---
/// @name h6
/// @group Base
/// @since 21.05.2023
/// @access public
img {

	@include sassify.size(100%, 100%, 'max');

	border-style: none;
	overflow: none;
	vertical-align: middle;

}
